---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostList from "../../components/PostList.astro";
import { getTagGroups } from "../../utils/tags";

import { siteTitle, description, author } from "../[...page].astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  const tagGroups = getTagGroups(posts);

  return tagGroups.map((tagGroup) => ({
    params: {
      tag: tagGroup.slug,
    },
    props: {
      posts: tagGroup.posts,
      tagName: tagGroup.name,
    },
  }));
}

const { posts, tagName } = Astro.props;
---

<BaseLayout
  siteTitle={siteTitle}
  title={"Tag: " + tagName + " | " + siteTitle}
  description={description}
  author={author}
>
  <h2>#{tagName}のタグが付いた記事</h2>
  <PostList posts={posts} />
</BaseLayout>
