---
import { getCollection } from "astro:content";
import PostLayout from "../../layouts/PostLayout.astro";

import { siteTitle, description, author } from "../[...page].astro";

function kebabCase(str: string) {
  return str
    .toLowerCase()
    .replace(/(\s|_)+/g, "-")
    .replace(/([a-z])([A-Z])/g, "$1-$2");
}

let posts = await getCollection("posts");
const categories = [
  ...new Set(posts.map((post) => post.data.category).flat()),
].sort((a, b) => a.localeCompare(b, "ja"));
---

<PostLayout
  siteTitle={siteTitle}
  title={"Categories | " + siteTitle}
  description={description}
  author={author}
>
  <div class="postMain">
    <h1 class="postTitle">Categories</h1>
    <ul>
      {
        categories.map((category) => (
          <li>
            <a href={`/categories/${kebabCase(category)}`}>{category}</a>
          </li>
        ))
      }
    </ul>
  </div>
</PostLayout>

<style lang="scss">
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    margin-bottom: 0.5rem;
  }
  .postTitle {
    color: var(--accent-color);
  }
  .postMain {
    background-color: var(--card-color);
    border: solid 1px var(--shadow-color);
    padding: 1rem;
    border-radius: 15px;
  }
</style>
