---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import OneColumnLayout from "../layouts/OneColumnLayout.astro";
import profileImage from "../assets/profile_icon.png";

import small_object_detection from "../assets/small_object_detection.png";
import room_3d_reconstruction from "../assets/3d_room.png";
import pose_estimation from "../assets/6dof.png";
import qvsbase from "../assets/qvsbase.png";
import huggingface from "../assets/hf.webp";
import spic from "../assets/spic.png";

export const siteTitle = "Junya Morioka | 森岡 隼也";
export const description = "とある情報系の院生の技術ノートです";
export const author = "Junya Morioka";

let posts = await getCollection("posts");
posts = posts.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);
---

<OneColumnLayout
  siteTitle={siteTitle}
  title={siteTitle}
  description={description}
  author={author}
>
  <div class="profile">
    <div style="text-align: center">
      <Image src={profileImage} alt="profile image" class="profileIcon" />
      <h1 class="name">Junya Morioka</h1>
      <h1 class="name">森岡 隼也</h1>
      <p>
        <a href="https://github.com/mjun0812" class="iconLink">
          <Icon name="mdi:github" />
        </a>
        <a href="https://twitter.com/mjun0812" class="iconLink">
          <Icon name="fa6-brands:x-twitter" />
        </a>
      </p>
      <p>
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="map-marker-alt"
          class="svg-inline--fa fa-map-marker-alt fa-w-12"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 384 512"
          width="32"
          height="32"
        >
          <path
            fill="currentColor"
            d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"
          ></path>
        </svg>
        Tokyo, Japan
      </p>
      <p>情報系の博士課程3年です</p>
    </div>

    <h2>Interest</h2>
    <ul>
      <li>Computer Vision</li>
      <li>Deep Learning</li>
      <li>Web</li>
    </ul>

    <h2>Education</h2>
    <ul class="publist">
      <li>
        <div class="title">Ph.D. Student in Computer Science</div>
        <div class="pubinfo">
          <span class="info">
            <strong>2023.03 - current</strong>
          </span>
          <span class="info">
            Computer Science Program, Graduate School of Science and Technology,
            Meiji University
          </span>
          <span class="info">
            <a class="link" href="https://www.ip.cs.meiji.ac.jp">
              画像応用システム研究室(IPLab)
            </a>
          </span>
        </div>
      </li>

      <li>
        <div class="title">Master's Degree in Computer Science</div>
        <div class="pubinfo">
          <span class="info">
            <strong>2021.04 - 2023.03</strong>
          </span>
          <span class="info">
            Computer Science Program, Graduate School of Science and Technology,
            Meiji University
          </span>
          <span class="info">
            <a class="link" href="https://www.ip.cs.meiji.ac.jp">
              画像応用システム研究室(IPLab)
            </a>
          </span>
        </div>
      </li>

      <li>
        <div class="title">Bachelor's Degree in Computer Science</div>
        <div class="pubinfo">
          <span class="info">
            <strong>2017.04 - 2021.03</strong>
          </span>
          <span class="info">
            Department of Computer Science, School of Science and Technology,
            Meiji University
          </span>
          <span class="info">
            <a class="link" href="https://www.ip.cs.meiji.ac.jp">
              画像応用システム研究室(IPLab)
            </a>
          </span>
        </div>
      </li>
    </ul>

    <h2>Work Experience</h2>
    <ul class="publist">
      <li>
        <div class="title">Qdoga Inc.</div>
        <div class="pubinfo">
          <span class="info">
            <strong>2021.03 - current</strong>
          </span>
          <span class="info">Part-time Full-stack Engineer</span>
          <span class="info">
            <a class="link" href="https://www.qdoga.com">HP</a>
          </span>
          <span class="info">
            <a class="link" href="https://www.3minutesgolf.com/www/index.html">
              App: 3分ゴルフ
            </a>
          </span>
          <span class="info">
            <a class="link" href="https://www.3284.jp/www/index.html">
              App: Team 3284
            </a>
          </span>
        </div>
      </li>

      <li>
        <div class="title">明治大学</div>
        <div class="pubinfo">
          <span class="info">
            <strong>2021.04 - 2023.03</strong>
          </span>
          <span class="info">Teaching Assistant</span>
        </div>
      </li>

      <li>
        <div class="title">SensAI</div>
        <div class="pubinfo">
          <span class="info">
            <strong>2021.05 - 2022.07</strong>
          </span>
          <span class="info">Part-time Engineer</span>
          <span class="info">
            <a class="link" href="https://sens-ai.co.jp/index.htm"> HP</a>
          </span>
        </div>
      </li>

      <li>
        <div class="title">Yahoo Japan 2022 Summer Internship</div>
        <div class="pubinfo">
          <span class="info">
            <strong>2022.08 - 2022.09(2 weeks)</strong>
          </span>
          <span class="info">Internship, ML Engineer</span>
          <span class="info">
            <a
              class="link"
              href="https://about.yahoo.co.jp/hr/internship/2022/0059/"
            >
              Link
            </a>
          </span>
          <span class="info">
            <a
              class="link"
              href="https://techblog.yahoo.co.jp/entry/2022112130381539/"
            >
              関連するYahoo Tech Blog
            </a>
          </span>
        </div>
      </li>

      <li>
        <div class="title">
          RECRUIT Job for Student 2022 Autumn ~Engineer/Data Specialist~
        </div>
        <div class="pubinfo">
          <span class="info">
            <strong>2022.11 - 2022.12(1 month)</strong>
          </span>
          <span class="info">Internship, Data Scientist</span>
          <span class="info">
            <a
              class="link"
              href="https://www.recruit.co.jp/employment/students/engineers/event/recruit-job-for-student-2022-autumn-engineer-data-specialist/"
            >
              Link
            </a>
          </span>
        </div>
      </li>

      <li>
        <div class="title">SPIC</div>
        <div class="pubinfo">
          <span class="info">
            <strong>2022.12 - current</strong>
          </span>
          <span class="info">Part-time Engineer</span>
          <span class="info">
            <a class="link" href="https://spic.com">HP</a>
          </span>
        </div>
      </li>

      <li>
        <div class="title">明治大学</div>
        <div class="pubinfo">
          <span class="info">
            <strong>2023.04 - current</strong>
          </span>
          <span class="info">Research Associate</span>
        </div>
      </li>
    </ul>

    <h2>Publication</h2>
    <ul class="publist">
      <li>
        <div class="title">
          A study on accuracy improvement of small object detection using deep
          neural networks
        </div>
        <div class="pubinfo">
          <span class="author">
            <strong class="me"><u>Junya Morioka</u></strong> and Ryusuke Miyamoto
          </span>
          <span>
            IEEE Asia Pacific Conference on Circuit and Systems, APCCAS 2021,
            Penang, Malaysia, November 22-26, 2021
          </span>
        </div>
      </li>
      <li>
        <div class="title">
          Testing environment for developing a wireless networking system based
          on image-assisted routing for sports applications
        </div>
        <div class="pubinfo">
          <span class="author">
            Shiho Hanashiro, Junfeng Xue, <strong class="me"
              ><u>Junya Morioka</u></strong
            >, Ryusuke Miyamoto, Takuma Hamagami, Kentaro Yanagihara, Yasutaka
            Kawamoto, Hiroyuki Okuhata, Hiroyuki Yomo and Tomohito Takubo
          </span>
          <span>
            Proceedings of the 9th International Conference on Sport Sciences
            Research and Technology Support, icSPORTS 2021, October 28-29, 2021
          </span>
        </div>
      </li>
      <li>
        <div class="title">
          深層学習に基づく小物体検出の精度向上に関する一検討
        </div>
        <div class="pubinfo">
          <span class="author">
            <strong class="me"><u>森岡隼也</u></strong>, 宮本龍介
          </span>
          <span>
            電子情報通信学会(IEICE)
            スマートインフォメディアシステム研究会（SIS), 2022.12
          </span>
        </div>
      </li>
      <li>
        <div class="title">
          意味論的領域分割の計算コストと精度の関係に関する研究
        </div>
        <div class="pubinfo">
          <span class="author">
            伊藤陸斗, <strong class="me"><u>森岡隼也</u></strong>, 安達美穂,
            津山雅彦, 今川隆司, 宮本龍介
          </span>
          <span>
            電子情報通信学会(IEICE)
            スマートインフォメディアシステム研究会（SIS), 2022.12
          </span>
        </div>
      </li>
      <li>
        <div class="title">
          空撮画像を対象としたInformed-Filtersに基づく人検出のC++AMPを用いたリアルタイム実装
        </div>
        <div class="pubinfo">
          <span class="author">
            津山雅彦, 薛俊峰, <strong class="me"><u>森岡隼也</u></strong>,
            大木琢郎, 宮本龍介
          </span>
          <span>
            画像電子学会 画像電子学誌 第52巻 第2号 pp.329-338, 2023.4</span
          >
        </div>
      </li>
      <li>
        <div class="title">
          Human Pose Estimation Based on Part-Wise 6-DoF Pose Estimation
        </div>
        <div class="pubinfo">
          <span class="author">
            Yuki Nagoshi, Takeru Inoue,
            <strong class="me"><u>Junya Morioka</u></strong>, Ryusuke Miyamoto
          </span>
          <span>
            2023 International Workshop on Smart Info-Media Systems in Asia,
            pp.77-81, 2023.9
          </span>
        </div>
      </li>
      <li>
        <div class="title">
          Dataset Creation for Semantic Segmentation Using Colored Point Clouds
          Considering Shadows on Traversable Area
        </div>
        <div class="pubinfo">
          <span class="author">
            Marin Wada, Yuriko Ueda, <strong class="me"
              ><u>Junya Morioka</u></strong
            >, Miho Adachi, Ryusuke Miyamoto
          </span>
          <span> Journal of Robotics and Mechatronics, 2023.12</span>
        </div>
      </li>
      <li>
        <div class="title">
          Data Augmentation for Semantic Segmentation Using a Real Image Dataset
          Captured around the Tsukuba City Hall
        </div>
        <div class="pubinfo">
          <span class="author">
            Yuriko Ueda, Miho Adachi, <strong class="me"
              ><u>Junya Morioka</u></strong
            >, Marin Wada, Ryusuke Miyamoto
          </span>
          <span> Journal of Robotics and Mechatronics, 2023.12</span>
        </div>
      </li>
      <li>
        <div class="title">
          遠隔協調作業における臨場感向上のための単眼カメラによる部屋の3次元構造の推定
        </div>
        <div class="pubinfo">
          <span class="author">
            <strong class="me"><u>森岡 隼也</u></strong>, 政木研人, 宮本龍介
          </span>
          <span>
            ライフインテリジェンスとオフィス情報システム研究会(LOIS), 2024.03</span
          >
        </div>
      </li>
      <li>
        <div class="title">
          3D Structure Estimation of Room Environment Using Semantic
          Segmentation and Model Fitting
        </div>
        <div class="pubinfo">
          <span class="author">
            <strong class="me"><u>Junya Morioka</u></strong>, Ryusuke Miyamoto
          </span>
          <span>
            IEEE International Workshop on Metrology for Living Environment
            (MetroLivEnv) , 2024.06</span
          >
        </div>
      </li>
      <li>
        <div class="title">
          合成画像を訓練サンプルとする分類器のバイラテラルフィルタによる精度向上
        </div>
        <div class="pubinfo">
          <span class="author">
            大木場正和, 井上尊, <strong class="me"><u>森岡隼也</u></strong>,
            安達美穂, 学多晃司, 山田悦志, 刈谷葵, 紀之定正一, 北出雄二郎,
            宮本龍介
          </span>
          <span>
            電子情報通信学会(IEICE)
            スマートインフォメディアシステム研究会（SIS), 2024.10</span
          >
        </div>
      </li>
      <li>
        <div class="title">
          Improving Resolution of Translated Infrared Images
        </div>
        <div class="pubinfo">
          <span class="author">
            Michiya Kibe, Takeru Inoue, <strong class="me"
              ><u>Junya Morioka</u></strong
            >, Ryusuke Miyamoto
          </span>
          <span>IEEE SENSORS, 2024.10</span>
        </div>
      </li>
      <li>
        <div class="title">
          Creation of Day-Night Visible-Thermal Paired Image Dataset via Image
          Registration
        </div>
        <div class="pubinfo">
          <span class="author">
            Michiya Kibe, Takeru Inoue, <strong class="me"
              ><u>Junya Morioka</u></strong
            >, Ryusuke Miyamoto
          </span>
          <span>IEEE IRC, 2024.12</span>
        </div>
      </li>
      <li>
        <div class="title">
          AMD Ryzen CPUを対象としたCNNにおける積和演算の並列実装
        </div>
        <div class="pubinfo">
          <span class="author">
            <strong class="me"><u>森岡 隼也</u></strong>, 宮本 龍介
          </span>
          <span> 第50回 パルテノン研究会, 2024.12</span>
        </div>
      </li>
      <li>
        <div class="title">CNN における積和演算の高速化に関する一検討</div>
        <div class="pubinfo">
          <span class="author">
            西郷 智博, 神谷 翔, <strong class="me"><u>森岡 隼也</u></strong>,
            安達 美穂, 宮本 龍介
          </span>
          <span> 第50回 パルテノン研究会, 2024.12</span>
        </div>
      </li>
      <li>
        <div class="title">
          バーチャル内見を目的とする3次元構造推定のための効率的なセマンティックエッジ抽出
        </div>
        <div class="pubinfo">
          <span class="author">
            中山 果瑛, <strong class="me"><u>森岡 隼也</u></strong>, 安達 美穂,
            宮本 龍介
          </span>
          <span> 電子情報通信学会(IEICE) MVE研究会（SIS), 2025.03</span>
        </div>
      </li>
      <li>
        <div class="title">
          屋内環境における単一画像からの3次元情報推定手法の回転耐性の向上
        </div>
        <div class="pubinfo">
          <span class="author">
            中山 果瑛, <strong class="me"><u>森岡 隼也</u></strong>, 安達 美穂,
            宮本 龍介
          </span>
          <span>
            電子情報通信学会(IEICE)
            ライフインテリジェンスとオフィス情報システム研究会(LOIS), 2025.03</span
          >
        </div>
      </li>
    </ul>

    <h2>Award</h2>
    <ul class="publist">
      <li>
        <div class="title">
          グッドプレゼンテーション賞「遠隔協調作業における臨場感向上のための単眼カメラによる部屋の3次元構造の推定」
        </div>
        <div class="pubinfo">
          <span class="author">
            <strong class="me"><u>森岡 隼也</u></strong>, 政木研人, 宮本龍介
          </span>
          <span>
            ライフインテリジェンスとオフィス情報システム研究会(LOIS), 2024.03
          </span>
        </div>
      </li>
      <li>
        <div class="title">
          優秀プレゼンテーション賞「AMD Ryzen
          CPUを対象としたCNNにおける積和演算の並列実装」
        </div>
        <div class="pubinfo">
          <span class="author">
            <strong class="me"><u>森岡 隼也</u></strong>, 宮本 龍介
          </span>
          <span> 第50回 パルテノン研究会, 2024.12</span>
        </div>
      </li>
    </ul>

    <h2>Skill</h2>
    <ul class="skillContainer">
      <ul class="skillList">
        <li class="skillText"><Icon name="mdi:language-python" />Python</li>
        <ul>
          <li><Icon name="simple-icons:pytorch" />PyTorch</li>
          <li><Icon name="simple-icons:tensorflow" />TensorFlow</li>
          <li><Icon name="simple-icons:fastapi" />FastAPI</li>
        </ul>
      </ul>

      <ul class="skillList">
        <li class="skillText">
          <Icon name="mdi:language-javascript" />JavaScript
        </li>
        <ul>
          <li><Icon name="mdi:react" />React</li>
          <li><Icon name="simple-icons:svelte" />Svelte</li>
          <li><Icon name="simple-icons:astro" />Astro</li>
        </ul>
      </ul>

      <ul class="skillList">
        <li class="skillText"><Icon name="mdi:docker" />Docker</li>
      </ul>

      <ul class="skillList">
        <li class="skillText"><Icon name="mdi:aws" />AWS</li>
      </ul>

      <ul class="skillList">
        <li class="skillText"><Icon name="mdi:language-swift" />Swift</li>
        <ul><li>SwiftUI</li></ul>
      </ul>

      <ul class="skillList">
        <li class="skillText"><Icon name="mdi:language-ruby" />Ruby</li>
        <ul><li><Icon name="simple-icons:rubysinatra" />Sinatra</li></ul>
      </ul>

      <ul class="skillList">
        <li class="skillText"><Icon name="simple-icons:php" />PHP</li>
        <ul><li><Icon name="simple-icons:codeigniter" />CodeIgniter</li></ul>
      </ul>

      <ul class="skillList">
        <li class="skillText"><Icon name="mdi:blender-software" />Blender</li>
      </ul>

      <ul class="skillList">
        <li class="skillText"><Icon name="simple-icons:onnx" />ONNX</li>
      </ul>

      <ul class="skillList">
        <li class="skillText"><Icon name="simple-icons:nvidia" />TensorRT</li>
      </ul>

      <ul class="skillList">
        <li class="skillText"><Icon name="simple-icons:cplusplus" />C++</li>
      </ul>
    </ul>

    <h2>Projects</h2>

    <div class="split-layout">
      <div class="content-text">
        <h3 class="project-title">深層学習を用いた小物体検出</h3>
        深層学習に基づく物体検出には様々な手法が提案されているが， 小物体の検出には精度向上の余地が多分に残されている．
        本研究では，小物体の検出精度向上を目的として，その精度向上にはどのような処理が重要であるかの検討を行う．
        また，その検討結果を基に，小物体検出の精度向上を目指すための新たな手法を提案する．
      </div>
      <div class="content-image">
        <Image
          src={small_object_detection}
          alt="small object detection"
          class="project-image"
        />
      </div>
    </div>

    <div class="split-layout">
      <div class="content-image">
        <Image
          src={room_3d_reconstruction}
          alt="3d room reconstruction"
          class="project-image"
        />
      </div>
      <div class="content-text">
        <h3 class="project-title">単眼カメラを用いた部屋の3次元構造の復元</h3>
        近年，VRデバイスの普及や技術の向上により，実空間を仮想空間に反映する技術の需要が高まっている．
        特に，室内環境を仮想空間上に反映する技術は，建築やインテリアデザイン，ロボティクスなどの
        様々な分野で利用されている． 実空間を仮想空間に反映するためには，実空間の3次元構造を推定する必要があるが，
        高価な機器が必要であったり，計算量や測定の手軽さの面で問題がある． そこで本研究では，推定対象を室内環境に限定し，1枚の画像を用いた3次元構造の推定手法を提案する．
        既存手法では深度推定を用いる手法が一般的であったが，本研究ではセマンティックセグメンテーションと
        直方体のフィッティングを用いた新たな手法を提案する． 3D CGを用いた実験の結果，提案手法は既存手法と上回る精度を達成し，
        競争力のある結果を示している
      </div>
    </div>

    <div class="split-layout">
      <div class="content-text">
        <h3 class="project-title">
          深層学習モデルを用いた物体の3次元姿勢推定(6DoF Pose Estimation)
        </h3>
        本研究では、高精度な物体の3次元位置推定手法を考案することを目的としています。
        高精度な物体の3次元位置推定には、学習のためのデータセットや、 オクルージョンへの対応、カメラのキャリブレーションなど、様々な課題があります。
        本研究ではデータセットの作成からモデルの実応用までを目標にして研究を行っています。
      </div>
      <div class="content-image">
        <Image
          src={pose_estimation}
          alt="6DoF pose_estimation"
          class="project-image"
        />
      </div>
    </div>

    <div class="split-layout">
      <div class="content-image">
        <Image src={qvsbase} alt="qvsbase" class="project-image" />
      </div>
      <div class="content-text">
        <h3 class="project-title">動画配信サービスの開発</h3>
        iOS/Android向けの動画配信サービスの開発を行いました。 サーバーサイドはRubyのSinatraを使用し、インフラはAWSを使用しました。
        認証にはFirebase Authenticationを使用しています。 私はバックエンドAPIの開発、Firebase
        Authenticationの実装、iOSアプリのSwiftUIによる実装とXcode CloudとGitHubを用いてCI/CDの構築を行いました。
        特に、iOSアプリはUIKitからSwiftUIへの移行をスクラッチで全て1人で実装しました。
        動画配信サービスはマルチテナント構成となっており、アプリのデザイン等を指定するだけで、特定のジャンルの動画配信サービスを簡単に立ち上げることができます。
      </div>
    </div>

    <div class="split-layout">
      <div class="content-text">
        <h3 class="project-title">
          NLP Embedding Modelを用いた検索システムの開発
        </h3>
        自然言語処理で用いられるBERTやFaissを用いて、埋め込みモデルを用いた検索システムの開発を行っています。
        サーバーサイドはFastAPIを使用し、インフラはAWSとオンプレの両方を使用しました。
        検索対象のデータはPDFで60TBあり、この文書に対して高速に検索を行うことが求められています。
        HuggingFace Datasetの作成や、tokenizerやモデルの学習を行い、独自のモデルの構築を行っています。
      </div>
      <div class="content-image">
        <Image src={huggingface} alt="huggingface" class="project-image" />
      </div>
    </div>

    <div class="split-layout">
      <div class="content-image">
        <Image src={spic} alt="spic" class="project-image" />
      </div>
      <div class="content-text">
        <h3 class="project-title">株式会社SPIC 社内システム開発</h3>
        Lypo-Cをはじめとする健康関連商品、美容関連商品、オリジナルブランド商品の開発及び販売を行う
        株式会社SPICの社内システムの構築を行っています。
      </div>
    </div>

    <h2>Contact</h2>
    <p>mjun __at__ mjunya.com</p>
  </div>

  <style lang="scss">
    a {
      color: var(--text-color);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    svg {
      height: 1rem;
      vertical-align: middle;
      width: auto;
    }

    h1.name {
      color: var(--accent-color);
      font-family: $english-font;
      text-align: center;
    }

    h2,
    h3 {
      font-family: $english-font;
      margin-top: 1rem;
    }
    h2 {
      color: var(--accent-color);
    }

    .profile {
      background-color: var(--card-color);
      border: solid 1px var(--shadow-color);
      padding: 0.5rem;
      border-radius: 15px;
    }

    .iconLink {
      margin-right: 0.2rem;
      color: var(--text-color);
      svg {
        height: 2rem;
        width: auto;
      }
    }

    [data-icon] {
      height: 1.2rem;
      width: auto;
    }

    .skillContainer {
      column-count: 3;
      column-gap: 26px;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    @media screen and (max-width: 480px) {
      .skillContainer {
        column-count: 1;
      }
    }
    .skillList {
      list-style: none;
      padding: 0;
      margin: 0.5em 0;
    }
    .skillIcon {
      color: var(--text-color);
      vertical-align: middle;
      height: 1.2em;
      width: auto;
      margin-right: 0.25em;
    }
    .skillText {
      font-size: 1.2em;
    }
    @media (min-width: 480px) {
      .skillColumn {
        width: 50%;
      }
    }

    .title {
      font-family: $english-font;
      font-size: 1.2rem;
      padding-bottom: 0.1rem;
    }
    .pubinfo {
      font-size: 0.9rem;
      color: var(--subtext-color);
    }
    .info {
      margin-right: 1rem;
    }
    .publist li {
      margin-bottom: 0.7rem;
    }
    .author {
      margin-right: 1rem;
    }
    .me {
      color: var(--text-color);
    }
    .link {
      color: var(--subtext-color);
      text-decoration: underline;
      &:hover {
        text-decoration: underline;
      }
    }

    .profileIcon {
      border-radius: 50%;
      max-height: 10rem;
      width: auto;
    }

    .split-layout {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      align-items: center;
      margin: 2rem 2rem;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 0.5rem;
      }
    }

    h3.project-title {
      text-decoration: underline;
      color: var(--accent-color);
    }

    .content-text {
      line-height: 1.6;
    }

    .content-image {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .project-image {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
    }
  </style>
</OneColumnLayout>
