---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import OneColumnLayout from "../layouts/OneColumnLayout.astro";
import profileImage from "../assets/profile_icon.png";

export const siteTitle = "Junya Morioka | 森岡 隼也";
export const description = "とある情報系の院生の技術ノートです";
export const author = "Junya Morioka";

let posts = await getCollection("posts");
posts = posts.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);
---

<OneColumnLayout
  siteTitle={siteTitle}
  title={siteTitle}
  description={description}
  author={author}
>
  <div class="profile">
    <div style="text-align: center">
      <Image src={profileImage} alt="profile image" class="profileIcon" />
      <h1 class="name">Junya Morioka</h1>
      <h1 class="name">森岡 隼也</h1>
      <p>
        <a href="https://github.com/mjun0812" class="iconLink">
          <Icon name="mdi:github" />
        </a>
        <a href="https://twitter.com/mjun0812" class="iconLink">
          <Icon name="fa6-brands:x-twitter" />
        </a>
      </p>
      <p>
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="map-marker-alt"
          class="svg-inline--fa fa-map-marker-alt fa-w-12"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 384 512"
          width="32"
          height="32"
        >
          <path
            fill="currentColor"
            d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"
          ></path>
        </svg>
        Tokyo, Japan
      </p>
      <p>情報系の博士課程2年です</p>
    </div>

    <h2>Interest</h2>
    <ul>
      <li>Computer Vision</li>
      <li>Deep Learning</li>
      <li>Web</li>
    </ul>

    <h2>Education</h2>
    <ul class="publist">
      <li>
        <div class="title">Ph.D. Student in Computer Science</div>
        <div class="pubinfo">
          <span class="info">
            <strong>2023.03 - current</strong>
          </span>
          <span class="info">
            Computer Science Program, Graduate School of Science and Technology,
            Meiji University
          </span>
        </div>
      </li>

      <li>
        <div class="title">Master's Degree in Computer Science</div>
        <div class="pubinfo">
          <span class="info">
            <strong>2021.04 - 2023.03</strong>
          </span>
          <span class="info">
            Computer Science Program, Graduate School of Science and Technology,
            Meiji University
          </span>
        </div>
      </li>

      <li>
        <div class="title">Bachelor's Degree in Computer Science</div>
        <div class="pubinfo">
          <span class="info">
            <strong>2017.04 - 2021.03</strong>
          </span>
          <span class="info">
            Department of Computer Science, School of Science and Technology,
            Meiji University
          </span>
        </div>
      </li>
    </ul>

    <h2>Work Experience</h2>
    <ul class="publist">
      <li>
        <div class="title">Qdoga Inc.</div>
        <div class="pubinfo">
          <span class="info">
            <strong>2021.03 - current</strong>
          </span>
          <span class="info">Part-time Full-stack Engineer</span>
          <span class="info">
            <a class="link" href="https://www.3minutesgolf.com/www/index.html">
              App: 3分ゴルフ
            </a>
          </span>
          <span class="info">
            <a class="link" href="https://www.3284.jp/www/index.html">
              App: Team 3284
            </a>
          </span>
        </div>
      </li>

      <li>
        <div class="title">明治大学</div>
        <div class="pubinfo">
          <span class="info">
            <strong>2021.04 - 2023.03</strong>
          </span>
          <span class="info">Teaching Assistant</span>
        </div>
      </li>

      <li>
        <div class="title">SensAI</div>
        <div class="pubinfo">
          <span class="info">
            <strong>2021.05 - 2022.07</strong>
          </span>
          <span class="info">Part-time Engineer</span>
          <span class="info">
            <a class="link" href="https://sens-ai.co.jp/index.htm"> HP</a>
          </span>
        </div>
      </li>

      <li>
        <div class="title">Yahoo Japan 2022 Summer Internship</div>
        <div class="pubinfo">
          <span class="info">
            <strong>2022.08 - 2022.09(2 weeks)</strong>
          </span>
          <span class="info">Internship, ML Engineer</span>
          <span class="info">
            <a
              class="link"
              href="https://about.yahoo.co.jp/hr/internship/2022/0059/"
            >
              Link
            </a>
          </span>
          <span class="info">
            <a
              class="link"
              href="https://techblog.yahoo.co.jp/entry/2022112130381539/"
            >
              関連するYahoo Tech Blog
            </a>
          </span>
        </div>
      </li>

      <li>
        <div class="title">
          RECRUIT Job for Student 2022 Autumn ~Engineer/Data Specialist~
        </div>
        <div class="pubinfo">
          <span class="info">
            <strong>2022.11 - 2022.12(1 month)</strong>
          </span>
          <span class="info">Internship, Data Scientist</span>
          <span class="info">
            <a
              class="link"
              href="https://www.recruit.co.jp/employment/students/engineers/event/recruit-job-for-student-2022-autumn-engineer-data-specialist/"
            >
              Link
            </a>
          </span>
        </div>
      </li>

      <li>
        <div class="title">SPIC</div>
        <div class="pubinfo">
          <span class="info">
            <strong>2022.12 - current</strong>
          </span>
          <span class="info">Part-time Engineer</span>
          <span class="info">
            <a class="link" href="https://spic.com">HP</a>
          </span>
        </div>
      </li>

      <li>
        <div class="title">明治大学</div>
        <div class="pubinfo">
          <span class="info">
            <strong>2023.04 - current</strong>
          </span>
          <span class="info">Research Associate</span>
        </div>
      </li>
    </ul>

    <h2>Publication</h2>
    <ul class="publist">
      <li>
        <div class="title">
          A study on accuracy improvement of small object detection using deep
          neural networks
        </div>
        <div class="pubinfo">
          <span class="author">
            <strong class="me"><u>Junya Morioka</u></strong> and Ryusuke Miyamoto
          </span>
          <span>
            IEEE Asia Pacific Conference on Circuit and Systems, APCCAS 2021,
            Penang, Malaysia, November 22-26, 2021
          </span>
        </div>
      </li>
      <li>
        <div class="title">
          Testing environment for developing a wireless networking system based
          on image-assisted routing for sports applications
        </div>
        <div class="pubinfo">
          <span class="author">
            Shiho Hanashiro, Junfeng Xue, <strong class="me"
              ><u>Junya Morioka</u></strong
            >, Ryusuke Miyamoto, Takuma Hamagami, Kentaro Yanagihara, Yasutaka
            Kawamoto, Hiroyuki Okuhata, Hiroyuki Yomo and Tomohito Takubo
          </span>
          <span>
            Proceedings of the 9th International Conference on Sport Sciences
            Research and Technology Support, icSPORTS 2021, October 28-29, 2021
          </span>
        </div>
      </li>
      <li>
        <div class="title">
          深層学習に基づく小物体検出の精度向上に関する一検討
        </div>
        <div class="pubinfo">
          <span class="author">
            <strong class="me"><u>森岡隼也</u></strong>, 宮本龍介
          </span>
          <span>
            電子情報通信学会(IEICE)
            スマートインフォメディアシステム研究会（SIS), 2022.12
          </span>
        </div>
      </li>
      <li>
        <div class="title">
          意味論的領域分割の計算コストと精度の関係に関する研究
        </div>
        <div class="pubinfo">
          <span class="author">
            伊藤陸斗, <strong class="me"><u>森岡隼也</u></strong>, 安達美穂,
            津山雅彦, 今川隆司, 宮本龍介
          </span>
          <span>
            電子情報通信学会(IEICE)
            スマートインフォメディアシステム研究会（SIS), 2022.12
          </span>
        </div>
      </li>
      <li>
        <div class="title">
          空撮画像を対象としたInformed-Filtersに基づく人検出のC++AMPを用いたリアルタイム実装
        </div>
        <div class="pubinfo">
          <span class="author">
            津山雅彦, 薛俊峰, <strong class="me"><u>森岡隼也</u></strong>,
            大木琢郎, 宮本龍介
          </span>
          <span>
            画像電子学会 画像電子学誌 第52巻 第2号 pp.329-338, 2023.4</span
          >
        </div>
      </li>
      <li>
        <div class="title">
          Human Pose Estimation Based on Part-Wise 6-DoF Pose Estimation
        </div>
        <div class="pubinfo">
          <span class="author">
            Yuki Nagoshi, Takeru Inoue,
            <strong class="me"><u>Junya Morioka</u></strong>, Ryusuke Miyamoto
          </span>
          <span>
            2023 International Workshop on Smart Info-Media Systems in Asia,
            pp.77-81, 2023.9
          </span>
        </div>
      </li>
      <li>
        <div class="title">
          Dataset Creation for Semantic Segmentation Using Colored Point Clouds
          Considering Shadows on Traversable Area
        </div>
        <div class="pubinfo">
          <span class="author">
            Marin Wada, Yuriko Ueda, <strong class="me"
              ><u>Junya Morioka</u></strong
            >, Miho Adachi, Ryusuke Miyamoto
          </span>
          <span> Journal of Robotics and Mechatronics, 2023.12</span>
        </div>
      </li>
      <li>
        <div class="title">
          Data Augmentation for Semantic Segmentation Using a Real Image Dataset
          Captured around the Tsukuba City Hall
        </div>
        <div class="pubinfo">
          <span class="author">
            Yuriko Ueda, Miho Adachi, <strong class="me"
              ><u>Junya Morioka</u></strong
            >, Marin Wada, Ryusuke Miyamoto
          </span>
          <span> Journal of Robotics and Mechatronics, 2023.12</span>
        </div>
      </li>
      <li>
        <div class="title">
          遠隔協調作業における臨場感向上のための単眼カメラによる部屋の3次元構造の推定
        </div>
        <div class="pubinfo">
          <span class="author">
            <strong class="me"><u>森岡 隼也</u></strong>, 政木研人, 宮本龍介
          </span>
          <span>
            ライフインテリジェンスとオフィス情報システム研究会(LOIS), 2024.03</span
          >
        </div>
      </li>
      <li>
        <div class="title">
          3D Structure Estimation of Room Environment Using Semantic
          Segmentation and Model Fitting
        </div>
        <div class="pubinfo">
          <span class="author">
            <strong class="me"><u>Junya Morioka</u></strong>, Ryusuke Miyamoto
          </span>
          <span>
            IEEE International Workshop on Metrology for Living Environment
            (MetroLivEnv) , 2024.06</span
          >
        </div>
      </li>
      <li>
        <div class="title">
          合成画像を訓練サンプルとする分類器のバイラテラルフィルタによる精度向上
        </div>
        <div class="pubinfo">
          <span class="author">
            大木場正和, 井上尊, <strong class="me"><u>森岡隼也</u></strong>,
            安達美穂, 学多晃司, 山田悦志, 刈谷葵, 紀之定正一, 北出雄二郎,
            宮本龍介
          </span>
          <span>
            電子情報通信学会(IEICE)
            スマートインフォメディアシステム研究会（SIS), 2024.10</span
          >
        </div>
      </li>
      <li>
        <div class="title">
          Improving Resolution of Translated Infrared Images
        </div>
        <div class="pubinfo">
          <span class="author">
            Michiya Kibe, Takeru Inoue, <strong class="me"
              ><u>Junya Morioka</u></strong
            >, Ryusuke Miyamoto
          </span>
          <span>IEEE SENSORS, 2024.10</span>
        </div>
      </li>
      <li>
        <div class="title">
          Creation of Day-Night Visible-Thermal Paired Image Dataset via Image
          Registration
        </div>
        <div class="pubinfo">
          <span class="author">
            Michiya Kibe, Takeru Inoue, <strong class="me"
              ><u>Junya Morioka</u></strong
            >, Ryusuke Miyamoto
          </span>
          <span>IEEE IRC, 2024.12</span>
        </div>
      </li>
    </ul>

    <h2>Award</h2>
    <ul class="publist">
      <li>
        <div class="title">
          グッドプレゼンテーション賞「遠隔協調作業における臨場感向上のための単眼カメラによる部屋の3次元構造の推定」
        </div>
        <div class="pubinfo">
          <span class="author">
            <strong class="me"><u>森岡 隼也</u></strong>, 政木研人, 宮本龍介
          </span>
          <span>
            ライフインテリジェンスとオフィス情報システム研究会(LOIS), 2024.03
          </span>
        </div>
      </li>
    </ul>

    <h2>Skill</h2>
    <ul class="skillContainer">
      <ul class="skillList">
        <li class="skillText"><Icon name="mdi:language-python" />Python</li>
        <ul>
          <li><Icon name="simple-icons:pytorch" />PyTorch</li>
          <li><Icon name="simple-icons:tensorflow" />TensorFlow</li>
          <li><Icon name="simple-icons:fastapi" />FastAPI</li>
        </ul>
      </ul>

      <ul class="skillList">
        <li class="skillText">
          <Icon name="mdi:language-javascript" />JavaScript
        </li>
        <ul>
          <li><Icon name="mdi:react" />React</li>
          <li><Icon name="simple-icons:svelte" />Svelte</li>
          <li><Icon name="simple-icons:astro" />Astro</li>
        </ul>
      </ul>

      <ul class="skillList">
        <li class="skillText"><Icon name="mdi:docker" />Docker</li>
      </ul>

      <ul class="skillList">
        <li class="skillText"><Icon name="mdi:aws" />AWS</li>
      </ul>

      <ul class="skillList">
        <li class="skillText"><Icon name="mdi:language-swift" />Swift</li>
        <ul><li>SwiftUI</li></ul>
      </ul>

      <ul class="skillList">
        <li class="skillText"><Icon name="simple-icons:kotlin" />Kotlin</li>
      </ul>

      <ul class="skillList">
        <li class="skillText"><Icon name="mdi:language-ruby" />Ruby</li>
        <ul><li><Icon name="simple-icons:rubysinatra" />Sinatra</li></ul>
      </ul>

      <ul class="skillList">
        <li class="skillText"><Icon name="simple-icons:php" />PHP</li>
        <ul><li><Icon name="simple-icons:codeigniter" />CodeIgniter</li></ul>
      </ul>

      <ul class="skillList">
        <li class="skillText"><Icon name="mdi:blender-software" />Blender</li>
      </ul>

      <ul class="skillList">
        <li class="skillText"><Icon name="simple-icons:onnx" />ONNX</li>
      </ul>

      <ul class="skillList">
        <li class="skillText"><Icon name="simple-icons:nvidia" />TensorRT</li>
      </ul>
    </ul>

    <h2>Contact</h2>
    <p>mjun __at__ mjunya.com</p>
  </div>
</OneColumnLayout>

<style lang="scss">
  a {
    color: var(--text-color);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  svg {
    height: 1rem;
    vertical-align: middle;
    width: auto;
  }

  h1.name {
    color: var(--accent-color);
    font-family: $english-font;
    text-align: center;
  }

  h2,
  h3 {
    font-family: $english-font;
    margin-top: 1rem;
  }
  h2 {
    color: var(--accent-color);
  }

  .profile {
    background-color: var(--card-color);
    border: solid 1px var(--shadow-color);
    padding: 0.5rem;
    border-radius: 15px;
  }

  .iconLink {
    margin-right: 0.2rem;
    color: var(--text-color);
    svg {
      height: 2rem;
      width: auto;
    }
  }

  [data-icon] {
    height: 1.2rem;
    width: auto;
  }

  .skillContainer {
    column-count: 3;
    column-gap: 26px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  @media screen and (max-width: 480px) {
    .skillContainer {
      column-count: 1;
    }
  }
  .skillList {
    list-style: none;
    padding: 0;
    margin: 0.5em 0;
  }
  .skillIcon {
    color: var(--text-color);
    vertical-align: middle;
    height: 1.2em;
    width: auto;
    margin-right: 0.25em;
  }
  .skillText {
    font-size: 1.2em;
  }
  @media (min-width: 480px) {
    .skillColumn {
      width: 50%;
    }
  }

  .title {
    font-family: $english-font;
    font-size: 1.2rem;
    padding-bottom: 0.1rem;
  }
  .pubinfo {
    font-size: 0.9rem;
    color: var(--subtext-color);
  }
  .info {
    margin-right: 1rem;
  }
  .publist li {
    margin-bottom: 0.7rem;
  }
  .author {
    margin-right: 1rem;
  }
  .me {
    color: var(--text-color);
  }
  .link {
    color: var(--subtext-color);
    text-decoration: underline;
    &:hover {
      text-decoration: underline;
    }
  }

  .profileIcon {
    border-radius: 50%;
    max-height: 10rem;
    width: auto;
  }
</style>
