---
import { getCollection } from "astro:content";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import PostList from "../../../components/PostList.astro";
import { getTagGroups } from "../../../utils/tags";

import { siteTitle, description, author } from "../[...page].astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts_en");
  const tagGroups = getTagGroups(posts);

  return tagGroups.map((tagGroup) => ({
    params: {
      tag: tagGroup.slug,
    },
    props: {
      posts: tagGroup.posts,
      tagName: tagGroup.name,
    },
  }));
}

const { posts, tagName } = Astro.props;
---

<BaseLayout
  siteTitle={siteTitle}
  title={"Tag: " + tagName + " | " + siteTitle}
  description={description}
  author={author}
  lang="en"
>
  <h2>Posts tagged with #{tagName}</h2>
  <PostList posts={posts} lang="en" />
</BaseLayout>
