---
import { getCollection } from "astro:content";
import PostLayout from "../../../layouts/PostLayout.astro";
import { getTagGroups } from "../../../utils/tags";

import { siteTitle, description, author } from "../[...page].astro";

let posts = await getCollection("posts_en");
const tagGroups = getTagGroups(posts).sort((a, b) =>
  a.name.localeCompare(b.name, "en")
);
---

<PostLayout
  siteTitle={siteTitle}
  title={"Tags | " + siteTitle}
  description={description}
  author={author}
  lang="en"
>
  <div class="postMain">
    <h1 class="postTitle">Tags</h1>
    <ul>
      {
        tagGroups.map((tagGroup) => (
          <li>
            <a href={`/en/tags/${tagGroup.slug}`}>{tagGroup.name}</a>
          </li>
        ))
      }
    </ul>
  </div>
</PostLayout>

<style lang="scss">
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    margin-bottom: 0.5rem;
  }
  .postTitle {
    color: var(--accent-color);
  }
  .postMain {
    background-color: var(--card-color);
    border: solid 1px var(--shadow-color);
    padding: 1rem;
    border-radius: 15px;
  }
</style>
