---
import { ClientRouter } from "astro:transitions";

const { title, description } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="1024x1024" href="/icon.png" />
<link rel="sitemap" href="/sitemap-index.xml" />

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<meta property="og:title" content={title} />
<meta property="og:locale" content="ja_JP" />
<meta property="og:image" content="/ogp_image_square.png" />
<meta property="og:description" content={description} />
<meta property="og:type" content="article" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content="/ogp_image_square.png" />

<ClientRouter />

<meta name="generator" content={Astro.generator} />

<!-- Google Tag Manager -->
<script
  type="text/partytown"
  src="https://www.googletagmanager.com/gtag/js?id=G-1X4HRQ7NWH"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-1X4HRQ7NWH");
</script>
<!-- End Google Tag Manager -->
