---
import "../styles/global.scss";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
import Bio from "../components/Bio.astro";
import GoogleTag from "../components/GoogleTag.astro";

const isProduction = import.meta.env.PROD;
const { title, siteTitle, description, author, lang = "ja" } = Astro.props;
---

<html lang={lang}>
  <head>
    {isProduction && <GoogleTag />}
    <BaseHead title={title} description={description} lang={lang} />

    <style lang="scss">
      .container {
        display: flex;
      }
      main {
        width: percentage(1 - 0.05 - $sidebar-width);
        max-width: percentage(1 - 0.05 - $sidebar-width);
        padding: calc($side-padding/4) calc($side-padding/2);
        margin-bottom: 2rem;
      }
      .sidebar {
        display: flex;
        flex-direction: column;
        width: percentage($sidebar-width);
        min-width: percentage($sidebar-width);
        padding: calc($side-padding/4) calc($side-padding/2);
      }
      @media screen and (max-width: 480px) {
        /* 480px以下に適用されるCSS（スマホ用） */
        .container {
          flex-direction: column-reverse;
        }
        main {
          width: auto;
          max-width: 100%;
          padding: 0%;
        }
        .sidebar {
          width: auto;
        }
      }
    </style>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    {
      isProduction && (
        <noscript>
          <iframe
            src="https://www.googletagmanager.com/ns.html?id=GTM-TLMMNZ7S"
            height="0"
            width="0"
            style="display:none;visibility:hidden"
          />
        </noscript>
      )
    }
    <!-- End Google Tag Manager (noscript) -->
    <Header siteTitle={siteTitle} lang={lang} />
    <div class="container">
      <aside class="sidebar">
        <Bio author={author} lang={lang} />
      </aside>
      <main>
        <slot />
      </main>
    </div>
    <Footer author={author} lang={lang} />
  </body>
</html>
